<header>
  <nav class="navbar navbar-light bg-success justify-content-between">
      <a class="navbar-brand mx-5" href="{% url 'homepage:index' %}">NodeStory</a>
      {% url 'auth_links:login' as login_url %}
      
      {% if not request.user.is_authenticated and request.get_full_path != login_url %}
        <div class=" form-inline text-right">
          <button class="btn btn-info" onclick="location.href='{% url 'users:signup' %}'">Sign Up</button>
          <button class="btn btn-info" onclick="location.href='{% url 'auth_links:login' %}'">Sign In</button>
        </div>
      {% elif request.user.is_authenticated %}
        <div class="form-inline text-right">
          <button class="btn btn-info" onclick="location.href='{% url 'users:review' %}'">My Account</button>
          <form action="{% url 'auth_links:logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-info">Log Out</button>
          </form>
        </div>
      {% endif %}       
  </nav>
</header>
