{% extends "stories/edit_story_base.html" %}

{% load i18n %}

{% block edit_story_content %}
    <div class="col-md-9">
        <h2>{% translate "Create Your Story" %}</h2>
        <form method="POST">
            {% csrf_token %}
            {{form.media}}
            {% for field in form %}
                <div class="form-group">
                    <div><label for="{{ field.id_for_label }}" class="text-dark">{{ field.label }}: </label></div>
                    {{ field }}
                </div>
            {% endfor %}
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-primary">{% translate "Publish" %}</button>
            </div>
        </form>
    </div>
{% endblock %}
