{% extends "base.html" %}

{% load i18n %}

{% block content %}

<div class="container my-5">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3">
            <div class="list-group">
                {% if story_node is None %}
                    {% url 'stories:edit_description' pk=head_info.pk as description_url%}
                    {% url 'stories:edit_story_node' pk=head_info.first_node.pk as content_url%}
                {% else %}
                    {% url 'stories:edit_description' pk=story_node.head_info.pk as description_url%}
                    {% url 'stories:edit_story_node' pk=story_node.pk as content_url%}
                {% endif %}


                <a href="{{description_url}}"
                   class="list-group-item list-group-item-action {%if request.path == description_url%}active{%endif%}">
                    {% translate "Edit Tags & Description" %}
                </a>
                <a href="{{content_url}}"
                   class="list-group-item list-group-item-action {%if request.path == content_url%}active{%endif%}">
                    {% translate "Edit Contents" %}
                </a>
            </div>
        </div>

        <!-- Main Content Area -->
        {% block edit_story_content %}

        {% endblock edit_story_content %}
    </div>
</div>
{% endblock %}
